{
    "env": {
        "browser": true,
        "node": true
    },
    "root": true,
    "extends": [
        "plugin:vue/essential",
        "eslint:recommended"
    ],
    "rules": {
        "no-console": "off",
        "no-unused-vars": "off",
        "no-empty": "off",
        "indent": "off"
    },
    "parserOptions": {
        "parser": "babel-eslint"
    }
}